@font-face {
    src: url(assets/fonts/Inter-VariableFont_slnt,wght.ttf);
    font-family: inter;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: hsl(0, 0%, 8%);
    font-family: inter;
    color: hsl(0, 0%, 100%);
}
.container{
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}
img{
    width: 20%;
    border-radius: 50px;
}
h2{
    font-weight: 700;
}
#place{
    font-size: 14px;
    color:  hsl(75, 94%, 57%);
    text-shadow: 0px 0px 2px hsl(75, 94%, 57%);
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: 600;
}
#work{
    font-size: 14px;
    color: hsl(0, 0%, 90%);
    font-weight: 400;
    margin-top: 20px;
}
.social-links{
    display: flex;
    flex-direction: column;
}
.social-links a{
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    margin: 7px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    transition: all .3s;
}
.social-links a:hover{
    color: hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
    font-weight: 600;
    transform: scale(1.1);
}
.social-links a:active{
    color: hsl(75, 94%, 57%);
    background-color: hsl(0, 0%, 20%);
}